/**
* You can edit this whole file.
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, 0.15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}

body {
  background-color: var(--gray-4);
}

h1 {
  padding: 0 100px;
  margin-top: 25px;
}

h2 {
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
}

.header {
  color: var(--gray-4);
  height: 70px;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-heavy);
  background-color: var(--secondary);
  display: flex;
  padding: 0 100px;
  align-items: center;
}

.header ul {
  display: flex;
  margin-left: auto;
  list-style: none;
  align-items: center;
  gap: var(--spacer-3);
}

.header a {
  color: var(--gray-4);
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacer-3);
}

.container {
  margin: 50px 100px;
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 800px; */
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  margin: 40px;
  /* width: 500px; */
  justify-content: space-between;
  justify-items: stretch;
  align-self: stretch;
}

.card a {
  color: var(--gray-4);
  background-color: var(--primary);
  /* text-align: center; */
  padding: 10px 0;
  margin: 50px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.card p {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.card img {
  padding-right: 10px;
}
